Repository NOW-SOPT-APP6-BUBBLE/bubble-Android, pull requests merged in 2024-05, with the labels that each got.

#2 [CHORE/#1] 프로젝트 초기 세팅
  .idea/gradle.xml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/bubble/BubbleApplication.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/MainScreen.kt
  app/src/main/java/com/sopt/bubble/module/ApiFactory.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Color.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Theme.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Type.kt
  app/src/main/java/com/sopt/bubble/util/extension/ContextExt.kt
  app/src/main/res/font/roboto_bold.ttf
  app/src/main/res/font/roboto_medium.ttf
  app/src/main/res/font/roboto_regular.ttf
  app/src/main/res/font/roboto_semibold.ttf
  app/src/main/res/font/sansitaone.ttf
  app/src/main/res/xml/network_security_config.xml
  gradle/libs.versions.toml
Labels: 🛠️ [CHORE], 🧡유빈

#6 [ FEAT/#3] Navigation 구현
  .idea/deploymentTargetDropDown.xml
  .idea/inspectionProfiles/Project_Default.xml
  app/build.gradle.kts
  app/src/main/java/com/sopt/bubble/feature/BubbleMainScreen.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/chat/ChatScreen.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsScreen.kt
  app/src/main/java/com/sopt/bubble/feature/more/MoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleAppNavHost.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleBottomNavigation.kt
  app/src/main/java/com/sopt/bubble/feature/nav/Screen.kt
  app/src/main/res/drawable/ic_btn_chat.xml
  app/src/main/res/drawable/ic_btn_friends.xml
  app/src/main/res/drawable/ic_btn_friends_true.xml
  app/src/main/res/drawable/ic_btn_more.xml
  app/src/main/res/drawable/ic_btn_more_true.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💜아린

#11 [FEAT/#3] 전체 Navigation 구현
  app/src/main/java/com/sopt/bubble/feature/BubbleMainScreen.kt
  app/src/main/java/com/sopt/bubble/feature/BubbleScreen.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/chat/ChatScreen.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsScreen.kt
  app/src/main/java/com/sopt/bubble/feature/more/MoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BottomScreen.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleAppNavHost.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleBottomNavigation.kt
  app/src/main/java/com/sopt/bubble/feature/nav/Screen.kt
  app/src/main/java/com/sopt/bubble/feature/test/TestScreen.kt
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 💜아린

#8 [UI/#4] precise store UI
  .idea/misc.xml
  app/build.gradle.kts
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreState.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/model/Ticket.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Type.kt
  app/src/main/java/com/sopt/bubble/util/extension/ModifierExt.kt
  app/src/main/res/drawable-mdpi/img_precise_store_jyp_bubble.png
  app/src/main/res/drawable/ic_back.xml
  app/src/main/res/drawable/ic_close.xml
  app/src/main/res/drawable/ic_precise_store_checkbox_selected.xml
  app/src/main/res/drawable/ic_precise_store_checkbox_unselected.xml
  app/src/main/res/drawable/ic_precise_store_fold.xml
  app/src/main/res/drawable/ic_precise_store_unfold.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: 💟 [UI], 💛석준

#9 [UI/#5] more screen UI
  app/src/main/java/com/sopt/bubble/feature/more/MoreMenu.kt
  app/src/main/java/com/sopt/bubble/feature/more/MoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/more/MoreUiState.kt
  app/src/main/java/com/sopt/bubble/feature/more/MoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/more/component/MoreTopAppBar.kt
  app/src/main/res/drawable/ic_more_btn_arrow.xml
  app/src/main/res/drawable/ic_more_btn_setting.xml
  app/src/main/res/drawable/ic_more_guide.xml
  app/src/main/res/drawable/ic_more_my_bubble.xml
  app/src/main/res/drawable/ic_more_notice.xml
  app/src/main/res/drawable/ic_more_profile.xml
  app/src/main/res/drawable/ic_more_profile_edit.xml
  app/src/main/res/drawable/ic_more_store.xml
  app/src/main/res/values/strings.xml
Labels: 💟 [UI], 💛석준

#14 [UI/#13] 스토어 뷰 / UI 구현
  app/build.gradle.kts
  app/src/main/java/com/sopt/bubble/data/dataclass/StoreArtist.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/StoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/StoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/component/ArtistItem.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/component/StoreBottomBar.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/component/StoreTopBar.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Type.kt
  app/src/main/res/drawable/ic_store_arrow.xml
  app/src/main/res/drawable/ic_store_bubble.xml
  app/src/main/res/drawable/ic_store_delete.xml
  app/src/main/res/drawable/ic_store_menu.xml
  app/src/main/res/drawable/ic_store_more.xml
  app/src/main/res/drawable/ic_store_triangle.xml
  app/src/main/res/drawable/img_store_banner.png
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: 💟 [UI], 🧡유빈

#12 [UI/#7] 아티스트 프로필 상세 뷰 / UI 구현
  .idea/deploymentTargetDropDown.xml
  app/src/main/java/com/sopt/bubble/feature/friends/detail/DetailScreen.kt
  app/src/main/java/com/sopt/bubble/feature/friends/detail/component/DetailBottomBar.kt
  app/src/main/java/com/sopt/bubble/feature/friends/detail/component/DetailTopBar.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Type.kt
  app/src/main/res/drawable/ic_detail_artist.xml
  app/src/main/res/drawable/ic_detail_close.xml
  app/src/main/res/drawable/ic_detail_music.xml
  app/src/main/res/drawable/ic_detail_star_full.xml
  app/src/main/res/drawable/ic_detail_start_empty.xml
  app/src/main/res/drawable/img_detail_profile.png
  app/src/main/res/values/strings.xml
Labels: 💟 [UI], 🧡유빈

#17 [UI/#16] 스토어 뷰 / 애니메이션 구현
  app/src/main/java/com/sopt/bubble/feature/more/store/StoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/StoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/component/ArtistItem.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/component/StoreBottomBar.kt
Labels: 💟 [UI], 🧡유빈

#25 [FEAT/#18] 스토어 뷰 / 서버통신 구현
  app/build.gradle.kts
  app/src/main/java/com/sopt/bubble/data/dataclass/StoreArtist.kt
  app/src/main/java/com/sopt/bubble/data/dto/response/StoreResponseDto.kt
  app/src/main/java/com/sopt/bubble/data/service/StoreService.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailScreen.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/component/FriendDetailBottomBar.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/component/FriendDetailTopBar.kt
  app/src/main/java/com/sopt/bubble/feature/more/store/StoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/store/StoreRoute.kt
  app/src/main/java/com/sopt/bubble/feature/store/StoreSideEffect.kt
  app/src/main/java/com/sopt/bubble/feature/store/StoreState.kt
  app/src/main/java/com/sopt/bubble/feature/store/StoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/store/component/ArtistItem.kt
  app/src/main/java/com/sopt/bubble/feature/store/component/StoreBottomBar.kt
  app/src/main/java/com/sopt/bubble/feature/store/component/StoreTopBar.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🧡유빈

#30 [FEAT/#22] 아티스트 프로필 상세 뷰 / 서버통신 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sopt/bubble/data/dto/response/FriendDetailResponseDto.kt
  app/src/main/java/com/sopt/bubble/data/service/FriendDetailService.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailRoute.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailSideEffect.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailState.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/component/FriendDetailTopBar.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🧡유빈

#26 [FEAT/#19] 상세스토어뷰 / 서버통신 구현
  app/src/main/java/com/sopt/bubble/data/dto/response/ResponsePreciseArtistDto.kt
  app/src/main/java/com/sopt/bubble/data/service/PreciseStoreService.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreState.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/component/PreciseStoreCheckBox.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/component/PreciseStoreTicket.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/model/CheckBoxContent.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/model/Ticket.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
Labels: ⭐ [FEAT], 💛석준

#28 [FEAT/#21] 메인 아티스트 조회 뷰 / 서버통신 구현
  .idea/deploymentTargetDropDown.xml
  app/src/main/java/com/sopt/bubble/data/dto/FriendsResponseDto.kt
  app/src/main/java/com/sopt/bubble/data/service/FriendsService.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsScreen.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsState.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/friends/component/FriendProfile.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 💜아린

#31 [FEAT/#29] 아티스트 프로필 상세 뷰 / 서버통신 구현
  app/src/main/java/com/sopt/bubble/data/dto/FriendsArtistDetailDto.kt
  app/src/main/java/com/sopt/bubble/data/dto/FriendsResponseDto.kt
  app/src/main/java/com/sopt/bubble/data/service/FriendDetailService.kt
  app/src/main/java/com/sopt/bubble/data/service/FriendsDetailService.kt
  app/src/main/java/com/sopt/bubble/feature/MainActivity.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/DetailState.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailScreen.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/FriendDetailViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/frienddetail/component/FriendDetailTopBar.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsScreen.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsState.kt
  app/src/main/java/com/sopt/bubble/feature/friends/FriendsViewModel.kt
  app/src/main/java/com/sopt/bubble/feature/friends/component/FriendProfile.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleAppNavHost.kt
  app/src/main/java/com/sopt/bubble/feature/nav/Screen.kt
  app/src/main/java/com/sopt/bubble/module/ServicePool.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Color.kt
Labels: ⭐ [FEAT], 💜아린

#34 [FEAT/#33] 네비게이션 통합
  app/src/main/java/com/sopt/bubble/feature/more/MoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/nav/BubbleAppNavHost.kt
  app/src/main/java/com/sopt/bubble/feature/nav/Screen.kt
  app/src/main/java/com/sopt/bubble/feature/precise_store/PreciseStoreScreen.kt
  app/src/main/java/com/sopt/bubble/feature/store/StoreRoute.kt
  app/src/main/java/com/sopt/bubble/ui/theme/Theme.kt
Labels: ⭐ [FEAT], 💜아린
